services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - '3000:3000'
    volumes:
      - ./db.json:/db.json
  frontend:
    build:
      context: .
    ports:
      - '80:80'
    depends_on:
      - backend
